{{template "base" .}}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="container col-md-6">
    <form method="post" style="margin-top: 20px">
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" name="body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <div style="margin-top: 30px">
        {{range $post := .Posts}}
            <div class="card" style="padding-top: 20px ;margin-top: 30px">
                <div class="card-body">
                    <h4 class="card-title">{{$post.Username}}</h4>
                    <p class="card-text">{{$post.Body}}</p>
                    {{if $post.IsLikedByCurrentUser}}
                        <a href="/unlike?id={{$post.Id}}" class="card-link text-danger like" type="submit">
                            <i class="fas fa-thumbs-up"></i>
                        </a>
                        {{else}}
                        <a href="/like?id={{$post.Id}}" class="card-link text-danger like" type="submit">
                            <i class="far fa-thumbs-up"></i>
                        </a>
                    {{end}}
                    <p class="card-text">{{$post.Likes}} Likes</p>
                    {{if $post.Editable}}
                        <div>
                            <a href="/updatePost?id={{ $post.Id }}">Edit</a>
                            <a href="/deletePost?id={{ $post.Id }}">Delete</a>

                        </div>
                    {{end}}

                </div>
            </div>
        {{end}}
    </div>

</div>
</body>
</html>